/* @tailwind base; */
/* .btn:hover{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover: ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }

    .link:hover {
        @apply hover:underline cursor-pointer
    } */
input,
  button {
    outline: none !important;
  }
h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 64px;
    color: #240d57;
  }
p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #4f4f4f;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
.text-gradient {
    background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
.button-gradient {
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    border-radius: 10px;
    border: 2px transparent;
  }
input[type="text"],
  select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type="file"] {
    width: 450px;
    background-color: #ffd7e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type="submit"]:hover {
    background-color: #45a049;
  }
h2 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 5px;
    display: flex;
    align-items: center;
    color: #240d57;
  }
.smalltxt {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1px;
    color: #828282;
    display: flex;
    align-items: center;
  }
.fromtxt {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #240d57;
  }
.smallcard {
    width: 56px;
    height: 56px;

    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
.m-auto {
    margin: auto;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.-mt-20 {
    margin-top: -5rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.-mt-10 {
    margin-top: -2.5rem;
}
.-mt-14 {
    margin-top: -3.5rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.h-screen {
    height: 100vh;
}
.h-10 {
    height: 2.5rem;
}
.h-5 {
    height: 1.25rem;
}
.h-12 {
    height: 3rem;
}
.h-6 {
    height: 1.5rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-400 {
    width: 543.91px;
}
.w-500 {
    width: 521px;
}
.w-10 {
    width: 2.5rem;
}
.w-5 {
    width: 1.25rem;
}
.w-9\/12 {
    width: 75%;
}
.w-auto {
    width: auto;
}
.w-12 {
    width: 3rem;
}
.w-6 {
    width: 1.5rem;
}
.min-w-0 {
    min-width: 0px;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.justify-center {
    justify-content: center;
}
.overflow-hidden {
    overflow: hidden;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rounded-full {
    border-radius: 9999px;
}
.border-t {
    border-top-width: 1px;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.bg-white-color {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 250, 255, var(--tw-bg-opacity));
}
.bg-light-pink {
    --tw-bg-opacity: 1;
    background-color: rgba(246, 242, 255, var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.from-purple-300 {
    --tw-gradient-from: #c4b5fd;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(196, 181, 253, 0));
}
.to-blue-200 {
    --tw-gradient-to: #bfdbfe;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.pb-8 {
    padding-bottom: 2rem;
}
.pt-8 {
    padding-top: 2rem;
}
.text-center {
    text-align: center;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-9xl {
    font-size: 8rem;
    line-height: 1;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.font-medium {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.text-purple-400 {
    --tw-text-opacity: 1;
    color: rgba(167, 139, 250, var(--tw-text-opacity));
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px) {
    .sm\:mt-16 {
        margin-top: 4rem;
    }
    .sm\:w-320 {
        width: 370px;
    }
    .sm\:rounded-md {
        border-radius: 0.375rem;
    }
    .sm\:rounded-lg {
        border-radius: 0.5rem;
    }
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (min-width: 768px) {
    .md\:grid {
        display: grid;
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:gap-4 {
        gap: 1rem;
    }
}
